:root {
  --clr-White: hsl(0, 0%, 100%);
  --clr-slate-300: hsl(212, 45%, 89%);
  --clr-slate-500: hsl(216, 15%, 48%);
  --clr-slate-900: hsl(218, 44%, 22%);
  --para: 14px;
}
* {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: var(--clr-slate-300);
}
.flex {
  display: grid;
  height: 90vh;
  place-items: center;
}
.main {
  width: 320px;
  padding: 20px 18px;
  background-color: var(--clr-White);
  border-radius: 15px;
  text-align: center;
  margin: 0px 20px;
  box-shadow: 2px 2px 8px var(--clr-slate-500);
}
.qr-code {
  width: 100%;
  color: var(--clr-slate-900);
  font-style: italics;
  border-radius: 15px;
}

.main h1 {
  font-weight: 700;
  font-size: 22px;
  color: var(--clr-slate-900);
  margin: 20px;
  line-height: 120%;
  letter-spacing: 0px;
}
.main p {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: var(--para);
  color: var(--clr-slate-500);
  line-height: 140%;
  letter-spacing: 0.2px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
